.home-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    gap: 15%;
    padding: 100px;
}

.home-section .home-title h1:nth-child(2) {
    color: #D46BCA;
}

.home-title {
    width: 60%;
    padding-top: 50px;
}

.home-title h1 {
    font-family: 'Unbounded', sans-serif;
    font-size: 5rem;
    color: #553566;
}

.home-title button {
    background-color: #FD883D;
    border-radius: 23px;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;

    min-width: 25%;
    height: 50px;
    margin-top: 30px;
    transition: 0.3s ease;
}

.home-title button:hover {
    background-color: #D46BCA;
    transform: scale(1.1);
}

.home-img-container {
    display: flex;
    flex-direction: column;
    padding: auto;
    padding-top: 50px;
    gap: 40px;
    top: 30px;
}

.home-img-container img {
    width: 200px;
}

@media (min-width:501px) and (max-width: 768px) {
    .home-title h1 {
        font-size: 3.5rem;
    }

    .home-img-container img {
        width: 100px;
    }

    .home-title button {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .home-section {
        flex-direction: column;
        align-self: center;
        justify-content: center;
        padding: 50px;
    }

    .home-title h1 {
        font-size: 2.7rem;
    }

    .home-img-container {
        flex-direction: row;
    }

    .home-img-container img {
        width: 60px;
    }

    .home-title {
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    .home-title button {
        width: 100%;
        font-size: 1.2
        rem;
    }
}
