* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    scrollbar-width: thin;
}

body {
    background-color: #FAEFE6;
}