* {
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    border: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #FD883D;
}

::-webkit-scrollbar-thumb {
    background-color: #FAEFE6;
}


body {
    background-color: #FAEFE6;
}