.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 100px;
    padding: 100px 20px;
}

.services-section h1 {
    font-family: 'Unbounded', sans-serif;
    font-size: 3rem;
    color: #553566;
}

.services-section h1 a {
    font-family: 'Unbounded', sans-serif;
    font-size: 3rem;
    color: #D46BCA;
}

.services-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.grid-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23%;
}

.grid-img img {
    width: 80%;
    margin-bottom: 50px;
}

.grid-titlespark {
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 13px;
}

.grid-titlespark img {
    width: 10%;
    margin:0;
    transition: 0.3s;
}

.grid-titlespark img:hover {
    width: 13%;
}

.grid-img h3 {
    font-size: 2rem;
    color: #553566;
}

.grid-img p {
    font-size: 1.3rem;
    margin-bottom: 15px;
    margin-top: 20px;
    text-align: justify;
    color: #553566;
}

.grid-img a {
    font-size: 1rem;
    color: #D46BCA;
    transition: 0.3s;
}

.grid-img a:hover {
    color: #553566;
}

@media (max-width: 768px) {
    .services-section {
        padding: 80px;
        align-items: center;
        justify-content: center;
    }
    
    .services-section h1, .services-section h1 a {
        text-align: center;
        font-size: 2.5rem;
    }

    .grid-img {
        width: 100%;
    }

    .grid-img img {
        width: 60%;
        align-self: center;
    }

    .grid-titlespark img {
        width: 5%;
    }
}

@media (max-width: 500px) {
    .services-section {
        padding: 50px;
    }

    .services-section h1, .services-section h1 a {
        font-size: 2rem;
        margin-top: 30px;
    }

    .grid-img h3 {
        font-size: 1.8rem;
    }

    .grid-img p {
        font-size: 1.2rem;
    }

    .grid-img img {
        margin-bottom: 25px;
    }

    .grid-titlespark img {
        width: 8%;
        margin: 0;
    }
}